@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Doto', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2a2a2a;
}

code {
  font-family: 'Doto', monospace;
}